
.content {
  display: grid;
  grid-template-areas: "video-content list";
  grid-template-columns: 711px 399px;
  align-items: end;
  align-self: center;
  inline-size: 95%;
  gap: 30px;
}

.result__video-container{
 position: relative;
}

.result__video{
  inline-size: 100%;
  block-size: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  column-gap: 40px;
}

.search-form:last-child() {
  align-items: end;
}



.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

.search-form__label-text {

}

.search-form__textfield {
  border: none;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  margin: 0;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
  inline-size: 225px;
  padding: 2px 0;
  letter-spacing: 0;
/*   text-decoration: underline solid #fff;
  text-underline-offset: 4px; */
}





.search-form__checkbox {

}

.result {
 grid-area: video-content;
 display: flex;
 flex-direction: column;
 gap: 16px;
}



.content__details {
 grid-area: list;
 display: flex;
 flex-direction: column;
 gap: 26px;
 inline-size: 100%;
}

.content__list-container{
  position: relative;
  block-size: 298px;
  overflow: scroll;
}

/*Кнопка result*/

.button {
  outline: none;
	border: 1px solid #fff;
  font-family: inherit;
  cursor: pointer;
  font-size: 18px;
	font-weight: 700;
  text-align: center;
  background-color: transparent;
  color: #fff;
  line-height: 100%;
}

.search-form__submit-button{
  padding: 6px 73.5px;
  height: 32px;

}


.title {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  color: #FFF;
}

.title .content__accent {
  color: #545050;
}

.content__list-item {
  gap: 30px;
/*Создайте вертикальные отступы между элементами .content__list-item. Используйте свойство gap. */
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;

  /* Расположите элементы внутри контейнера .content__video-card в строку, прижав к началу контейнера по дополнительной оси.*/
}

.content__video-card-thumbnail{
  /*Задайте размеры .content__video-card-thumbnail и расположите в них изображение так, чтобы оно закрывало весь элемент и было выровнено по центру. Используйте object-fit и object-position */
}

.content__video-card-description-container{
  /*Сделайте так, чтобы .content__video-card-description-container занимал всё доступное пространство (не занятое картинкой). Вам поможет свойство flex-grow. */
}

/*Убираем визуально но не из скринридера*/

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(0 0 0 0); /* это свойство обрезает видимую область до нулевого значения */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
